
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  
  .line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

/* Custom scrollbar for better visual appeal */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-purple-50;
}

::-webkit-scrollbar-thumb {
  @apply bg-purple-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-purple-300;
}
